fastapi
uvicorn[standard]
orjson
python-dotenv
python-multipart
PyMuPDF==1.25.4
tenacity
ocrmypdf
google
google.genai
google-api-core
IPython
numpy
pandas
pillow
matplotlib
ultralytics
pdf2image